@import url(https://fonts.googleapis.com/css?family=Montserrat);

body { font-family: 'Montserrat', Arial, Helvetica, sans-serif !important; }

/* Header Section Styles */
#logo { 
    background-image: url('https://cdn.rawgit.com/perryl7/mm-survey-css/master/movement-logo-200x29.png');
    min-height: 0;
    width: 200px;
    height: 60px;
    margin: 50px auto 0px auto; 
}
#logo { margin-left: auto; margin-right: auto; }
#idf024li13 section { background-color: #c8102e; } /* Header section */
#header h2 { 
    font-family: 'Montserrat', Arial, Helvetica, sans-serif; 
    text-align:center;
}
/* Field Font Styles */
/* Opinion text */
#title13 { 
  font-family: 'Montserrat', Arial, Helvetica, sans-serif; 
  color: #FFFFFF; 
  background-color: #c8102e; 
  font-size:18px; 
  line-height: 24px; 
  vertical-align: middle;
  text-align:center;
  padding:10px;
 } 
#title1 { font-family: 'Montserrat', Arial, Helvetica, sans-serif; } /* Loan ID label */
#field1 { font-family: 'Montserrat', Arial, Helvetica, sans-serif; } /* Loan ID field */
#title2 { font-family: 'Montserrat', Arial, Helvetica, sans-serif; } /* Borrower Name label */
#field2 { font-family: 'Montserrat', Arial, Helvetica, sans-serif; } /* Borrower Name field */
#title3 { font-family: 'Montserrat', Arial, Helvetica, sans-serif; } /* Processor Name label */
#field3 { font-family: 'Montserrat', Arial, Helvetica, sans-serif; } /* Processor Name field */
#title4 { font-family: 'Montserrat', Arial, Helvetica, sans-serif; } /* Underwriter Name label */
#field4 { font-family: 'Montserrat', Arial, Helvetica, sans-serif; } /* Underwriter Name field */
#title5 { font-family: 'Montserrat', Arial, Helvetica, sans-serif; } /* Closer Name label */
#field5 { font-family: 'Montserrat', Arial, Helvetica, sans-serif; } /* Closer Name label */
#title6 { font-family: 'Montserrat', Arial, Helvetica, sans-serif; } /* Processor Rating label */
#field6 { font-family: 'Montserrat', Arial, Helvetica, sans-serif; } /* Processor Rating field */
#title10 { font-family: 'Montserrat', Arial, Helvetica, sans-serif; } /* Underwriter Rating label */
#field10 { font-family: 'Montserrat', Arial, Helvetica, sans-serif; } /* Underwriter Rating field */
#title9 { font-family: 'Montserrat', Arial, Helvetica, sans-serif; } /* Closer Rating label */
#field9 { font-family: 'Montserrat', Arial, Helvetica, sans-serif; } /* Closer Rating field */

/* Field Layout Styles */
#fo24li1 div label { 
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px; 
}
#fo24li1, #fo24li2, #fo24li3, #fo24li4, #fo24li5 {
    float:left;
    display:flex;
}
/* Field Input Box Styling */
input.text {
    border: 0px !important;
    background-color: transparent !important;
    background: #fff !important;
    width: 200px;
    margin: 0px 20px;
}

/* Button Styles */
#saveForm { 
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #FFFFFF; 
  background-color: #c8102e; 
  border: 1px solid rgba(0,0,0,0.2); 
  white-space: normal;
  word-wrap: break-word;
  max-width: 100%;
  padding: 15px 25px;
  text-shadow: none;
  font-size: 16px;
  cursor:pointer;
}
#saveForm:hover {
    background-color:#b40e29;
}
